<div class="container">
      <div class="heading">
      <h1>Get the Facts</h1>
      <h2><i>What's going on in Cannabis today?</i></h2>
      </div>
      <hr>
      <div class="row">
        <div class="col-8 overflow-auto">
          <div id="articles">
            {{#each articles}}
            <h1 data-id={{this._id}} class="article_title">{{this.title}}</h1>
            <h2>{{this.category}}</h2>
            <a href={{this.link}}><button class="btn btn-success">READ THE ARTICLE HERE!</button></a>
            {{/each}}
          </div>
        </div>
        <div class="col-4">
          <div class="form-group" id="notes">
          </div>
        </div>
      </div>
    </div>