/* .hero-image {
    background-image: url("/Images/cannabis3.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  #wrapper {
    width: 960px;
    background-color: white;
    position: absolute;
  } */

  body{
    color: white;
    text-shadow: 2px 2px 4px #000000;

    background:url(/Images/cannabis3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .heading{
      text-align: center;
  }
  .container{
    margin: auto;
    background-color: rgba(28, 95, 114, 0.3);
    height: 1000px;
  }
  .col-8{
      display: inline-block;
      overflow: scroll;
      height: 870px;
  }
  .form-group{
      text-align: center;
      display: block;
  }
  #savenote{
      margin-top: 10px;
  }
  .category{
    color: whitesmoke;
    text-shadow: 2px 2px 4px #000000;
  }

